.home {
    .hero {
        background: url('./../../shared/image/home-hero.png');
        background-size: contain;
        // background-position: center;
        background-repeat: no-repeat;
        height: 500px;
    }
}