body {
    background-color: var(--dark03);
    color: var(--white);
    font-family: "Manrope", system-ui;
}

button {
    transition: all 0.2s;
    cursor: pointer;
    padding: 0 24px;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-weight: 500;
    border-radius: var(--buttonRadius);
    background-color: var(--buttonColor);
    height: var(--buttonHeight);

    @include fluid-text(18, 14);

    @include hover {
        opacity: 0.8;
    }
}

a {
    color: var(--gray70);
    text-decoration: none;

    @include fluid-text(18, 14);
}

h1, h2, h3, h4, h5, h6 , p {
    padding: 0;
    margin: 0;
}