@mixin fluid-text($max: 48, $min: 16) {
    font-size: clamp(#{$min}px, calc($max / 1440) * 100vw, #{$max}px);
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}