@import './../../../shared/styles/media.scss';
@import './../../../shared/styles/mixins.scss';


.content {
    display: flex;
    column-gap: 35px;

    .card {
        display: flex;
        flex-direction: column;
        row-gap: 19px;

        .image {
            img {
                width: 100%;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            align-items: center;

            .description {
                display: flex;
                flex-direction: column;
                row-gap: 4px;

                .title {
                    @include fluid-text(20, 16);
                    color: var(--gray80);
                    font-weight: 500;
                }

                .date {
                    @include fluid-text(18, 14);
                    color: var(--gray50);
                    font-weight: 400;
                }
            }

            .link {
                @include fluid-text(18, 14);
                display: flex;
                align-items: center;
                column-gap: 6px;
                flex-shrink: 0;
                text-transform: uppercase;
                color: var(--gray95);

                a { 
                    padding-bottom: 10px;
                    border-bottom: var(--borderLine);
                }

                img {
                    padding-bottom: 10px;
                }
            }
        }
    }

    @include mobile {
        flex-direction: column;
        row-gap: 30px;
    }
}