@import './../../../shared/styles/media.scss';

.header {
    height: 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dark12);
    border-right: 1px solid var(--dark12);
    border-left: 1px solid var(--dark12);
    column-gap: 10px;

    @include tablet {
        height: 89px;
    }

    @include mobile {
        height: 109px;
    }

    .logo {
        align-self: flex-end;
        margin-bottom: 25px;

        img {
            @include mobile {
                width: 89px;
            }
        }
    }
}